//
// rc.exe /I ../3rdpart/wtl/include /D _DEBUG /D _UNICODE /D UNICODE /L 0x804 /nologo /fo ../build/Debug/rgmsvc.res
//
#include "resource.h"
#include "../3rdpart/wtl/include/atlres.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// String table
//

STRINGTABLE
BEGIN
   IDS_DISPLAY   "FolderMointService"
   IDS_DESC      "Watch a Folder, Send event to remote."
END
